<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>


<link type="text/css" href="/css/bootstrap-pagination.min.css" rel="stylesheet"/>

<script type="text/javascript" charset="utf-8" src="/js/bootstrap-paginator.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-datetimepicker.min.css">

<div class="row search">
    <div class="col-md-6">
        <form action="" method="post">
            <div class="input-group" style="width: 300px">
                <input type="text" class="form-control" id="queryName"
                       placeholder="请输入要查询内容..."> <span class="input-group-btn">
					<button class="btn btn-default" onclick="return queryEquipment()">
						<span class="glyphicon glyphicon-search"></span>&nbsp;查询
					</button>
				</span>
            </div>
        </form>
    </div>
    <div class="col-md-2 alert alert-success alert-dismissable text-center" id="total"
         style="margin-bottom:10px;"></div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" style="float: right;"
                data-toggle="modal" id="add_too">继续添加
        </button>

    </div>
</div>
<div>
    <table class="table table-hover  table-bordered table-striped"
           style="margin-bottom: 0px;">
        <thead>
        <tr>
            <th class="col-md-1">编号</th>
            <th class="col-md-1">项目名</th>
            <th class="col-md-1">开始时间</th>
            <th class="col-md-1">结束时间</th>
            <th class="col-md-2">内容</th>
            <th class="col-md-2">职责</th>
            <th class="col-md-1">操作</th>
        </tr>
        </thead>
        <tbody id="equList"></tbody>
    </table>
</div>
<div id="pagination">
    <div class="col-md-5 col-md-offset-3">
        <ul class="pagination"></ul>
    </div>
    <div class="btn-group col-md-3" style="margin-top:20px">
        <button type="button" class="btn btn-default" value="10" onclick="changePageSize(this)">10</button>
        <button type="button" class="btn btn-default" value="20" onclick="changePageSize(this)">20</button>
        <button type="button" class="btn btn-default" value="50" onclick="changePageSize(this)">50</button>
        <button type="button" class="btn btn-default" value="100" onclick="changePageSize(this)">100</button>
    </div>
    <input type="text" id="currentPage" style="display:none" value="1"></input>
    <input type="text" id="pageSize" style="display:none" value="10"></input>
</div>
<!-- 添加模态框 -->
<form class="form-horizontal" id="createForm" style="margin: 20px;">
    <div class="modal fade" id="createEquipment" tabindex="-1"
         role="dialog" aria-labelledby="createModalLabel" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="crdateModalLabel">添加项目经验</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-md-4 control-label">项目名</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="请输入项目名称">
                        </div>
                    </div>

                    <div id="datetimepicker" class="form-group">
                        <!-- Text input-->
                        <label for="start" class="col-md-4 control-label">开始日期</label>
                        <div class="col-md-6">
                            <input type="text" name="time" class="form-control" id="start" placeholder="点击下方小日历选择日期"
                                   class="input-xlarge"/>
                            <span class="add-on">
                                <i class="glyphicon glyphicon-calendar" data-time-icon="icon-time"
                                   data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div id="datetimepicker1" class="form-group">
                        <!-- Text input-->
                        <label for="end" class="col-md-4 control-label">结束日期</label>
                        <div class="col-md-6">
                            <input type="text" name="time" class="form-control" id="end" placeholder="点击下方小日历选择日期"
                                   class="input-xlarge"/>
                            <span class="add-on">
                                <i class="glyphicon glyphicon-calendar" data-time-icon="icon-time"
                                   data-date-icon="icon-calendar"></i>
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="content" class="col-md-4 control-label">项目内容</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="produceName"
                                       value="" id="content" placeholder="请输入所在学院">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="duty" class="col-md-4 control-label">项目职责</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="produceName"
                                       value="" id="duty" placeholder="请输入所在专业">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="back">取消
                    </button>
                    <button type="button" class="btn btn-default" id="add_r">添加</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

</form>

<script type="text/javascript">
    var temPra = new Array();


    $(function () {
        pagehtml($("#currentPage").val());
    });

    $('#start').datetimepicker({
        minView: "month",
        format: "yyyy-mm-dd",
        autoclose: true
    });
    $('#end').datetimepicker({
        minView: "month",
        format: "yyyy-mm-dd",
        autoclose: true
    });

    //添加设备
    $("#add_r").click(function () {
        var name = $.trim($("#name").val());
        var content = $.trim($("#content").val());
        var duty = $.trim($("#duty").val());
        var start = $.trim($("#start").val());
        var end = $.trim($("#end").val());
        if (!name || !content) {
            alert("填写信息不完整！");
            return false;
        }

        $.ajax({
            type: "GET",
            url: "/info",
            dataType: "json",
            success: function (resp) {
                if (resp.status != 200) {
                    alert(resp.msg)
                } else {
                    var token = resp.msg;

                    $.ajax({
                        url: "/addPractice",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "token": token,
                            "name": name,
                            "content": content,
                            "duty": duty,
                            "end": end,
                            "start": start
                        },
                        success: function (data) {
                            if (data.status == 200) {
                                $("#back").trigger("click");
                                alert("添加成功!");
                                pagehtml($("#currentPage").val());
                            } else {
                                alert("游客身份不能添加！");
                            }

                        },
                        error: function () {
                            alert("添加出错!");
                        }

                    });

                }
            },
            error: function (resp) {
                alert("访问出错！")
            }
        });

    });

    //分页
    function pagehtml(pageNo) {
        $.ajax({
            type: "GET",
            url: "/info",
            dataType: "json",
            success: function (resp) {
                if (resp.status != 200) {
                    alert(resp.msg)
                } else {
                    var token = resp.msg;

                    $.ajax({
                        url: "/practices",
                        type: "post",
                        dataType: "json",
                        data: {"token": token},
                        success: function (data) {
                            $("#total").html("当前共有" + data.data.length + "条项目经验");
                            $("#equList").empty();
                            if (data.data == "") {
                                $("#equList").html("<div  id='emptyAlert' class='alert alert-danger'>" +
                                    "<a href='#' class='close' data-dismiss='alert'>&times;</a>" +
                                    "<strong>失败！</strong>未查到您搜索的信息。</div>");
                                $("#pagination").hide();
                                return false;
                            } else {
                                $.each(data.data, function (j, val) {
                                    temPra[j] = val.practiceId;
                                    var date1 = new Date(val.start);
                                    var date2 = new Date(val.end);
                                    var html;
                                    html = "<tr>"
                                        + "<td>"
                                        + val.practiceId
                                        + "</td>"
                                        + "<td>"
                                        + val.name
                                        + "</td>"
                                        + "<td>"
                                        + date1.getFullYear() + "-" + date1.getMonth() + "-" + date1.getDate()
                                        + "</td>"
                                        + "<td>"
                                        + date2.getFullYear() + "-" + date2.getMonth() + "-" + date2.getDate()
                                        + "</td>"
                                        + "<td>"
                                        + val.content
                                        + "</td>"
                                        + "<td>"
                                        + val.duty
                                        + "</td>";

                                    html += "<td><button type='button' class='btn btn-info btn-xs' onclick='return update(" + j + ")'>"
                                        + "修改"
                                        + "</button>"
                                        + "&nbsp;&nbsp;<button type='button' class='btn btn-info btn-xs' onclick='return rm(" + j + ")'>"
                                        + "删除"
                                        + "</button>"
                                        + "</td></tr>>";
                                    $("#equList").append(html);
                                });
                            }
                        },
                        error: function (error) {
                            alert("error");
                        }
                    });
                }
            },
            error: function (resp) {
                alert("访问出错！")
            }
        });

    }

    $("#add_too").click(function () {
//            $("#main").load("/views/home/practice.html");
            $('#createEquipment').modal();
        }
    );

    //查询设备
    function queryEquipment() {
        //不管name是否为空，使得搜索条件为空时，查询所有
        pagehtml(1);
        return false;
    }

    //切换每页显示数据数
    function changePageSize(obj) {
        var pageSize = obj.value;
        $("#pageSize").val(pageSize);
        pagehtml(1);
    }

    // 修改
    function update(equipmentId) {
        var result = confirm("确定执行此操作？");
        if (result) {

        } else {
            return false;
        }
        $("#main").load("/views/home/practice.html");
        return false;
    }

    // 删除
    function rm(equipmentId) {
        var result = confirm("确定执行此操作？");
        if (result) {

        } else {
            return false;
        }

        $.ajax({
            type: "GET",
            url: "/info",
            dataType: "json",
            success: function (resp) {
                if (resp.status != 200) {
                    alert(resp.msg)
                } else {
                    var token = resp.msg;

                    $.ajax({
                        url: "/deletePractice",
                        type: "POST",
                        data: {
                            "token": token,
                            "practiceInfoId": temPra[equipmentId]
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.status == 200) {
                                alert("删除成功！");
                                pagehtml($("#currentPage").val());
                            } else {
                                alert("删除失败！");
                            }
                        },
                        error: function () {
                            alert("删除错误");
                        },
                    });
                }
            },
            error: function (resp) {
                alert("访问出错！")
            }
        });
        return false;
    }

</script>


</html>
